@import url("https://fonts.googleapis.com/css?family=Exo+2|Neucha|PT+Sans:700|Francois+One");
html, body {
  width: 100%;
  height: 100%;
  background-color: white; }

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%; }

#header {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 75px;
  z-index: 10;
  color: white; }
  #header #header-link-collect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Exo 2";
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-transform: uppercase; }
    #header #header-link-collect .header-link {
      margin: 0 50px 0 50px;
      cursor: pointer;
      transform: translateY(-50px);
      opacity: 0;
      transition: color 0.2s;
      color: white;
      text-decoration: none;
      transition: color 0.5s; }
      #header #header-link-collect .header-link:hover {
        color: #d8a347; }
    #header #header-link-collect #hl1 {
      animation: slideheaders 1s;
      animation-delay: 0s;
      animation-fill-mode: forwards; }
    #header #header-link-collect #hl2 {
      animation: slideheaders 1s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards; }
    #header #header-link-collect #hl3 {
      animation: slideheaders 1s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards; }
    #header #header-link-collect #hl4 {
      animation: slideheaders 1s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards; }

.hdr-colored {
  background-color: white; }

.black-link {
  color: black !important; }

@keyframes slideheaders {
  from {
    transform: translateY(-50px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }

#intro {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #e0dbd2;
  color: white; }
  #intro #intro-cover {
    width: 100%;
    height: 100vh;
    background: url("../Images/cover.jpg") no-repeat top center;
    background-size: cover;
    filter: brightness(60%); }
  #intro #intro-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 300px;
    left: 200px;
    font-family: "PT Sans";
    position: absolute; }
    #intro #intro-desc #role {
      font-size: 40px;
      margin: 0 0 10px 0;
      opacity: 0;
      animation: fadein 1s;
      animation-delay: 0s;
      animation-fill-mode: forwards; }
      #intro #intro-desc #role span {
        color: #d8a347; }
        #intro #intro-desc #role span #span-des {
          color: white;
          animation: flicker 1s;
          animation-delay: 1.5s;
          animation-fill-mode: forwards; }
    #intro #intro-desc #name {
      font-size: 30px;
      margin: 0;
      opacity: 0;
      animation: fadein 1s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes flicker {
  0% {
    color: #161616; }
  10% {
    color: #d8a347; }
  20% {
    color: #161616; }
  25% {
    color: #d8a347; }
  40% {
    color: #161616; }
  50% {
    color: #d8a347; }
  55% {
    color: #161616; }
  70% {
    color: #d8a347; }
  80% {
    color: #161616; }
  100% {
    color: #d8a347; } }

#me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #e8e3dc;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 75px;
  height: 700px; }
  #me .heading {
    font-size: 35px;
    font-family: "Francois One";
    text-transform: uppercase;
    margin: 0 0 10px 0; }
  #me .divider {
    width: 100px;
    height: 5px;
    background-color: #d8a347;
    border-radius: 1px; }

@media (min-width: 0px) {
  #intro #intro-cover {
    background: url("../Images/cover-small.jpg") no-repeat top center;
    background-size: cover; } }

@media (min-width: 1281px) {
  #intro #intro-cover {
    background: url("../Images/cover.jpg") no-repeat top center;
    background-size: cover; } }
