
// Imports

@import url('https://fonts.googleapis.com/css?family=Exo+2|Neucha|PT+Sans:700|Francois+One|Montserrat');

// Mixins

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin animate($name, $time, $delay, $fill) {
  animation: $name $time;
  animation-delay: $delay;
  animation-fill-mode: $fill;
}

html, body {
  width: 100%;
  background-color: white;
}

#root {
  width: 100%;
  @include flex(row, center, flex-start);
}

.App {
  @include flex(column, flex-start, center);
  width: 100%;
}

// Header component

#header{
  position: fixed;
  @include flex(column, flex-start, center);
  width: 100%;
  height: 75px;
  color: white;
  transition: background-color 1s;
  background-color: #262627;
  z-index: 12;

  #header-link-collect {
    @include flex(row, center, center);
    font-family: "Exo 2";
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;

    div {
      margin: 0 40px 0 40px;
      opacity: 0;
      padding: 5px 10px 5px 10px;
      transition: background-color 0.5s;
      position: relative;

      .hdr-active {
        color: #d8a347 !important;
      }

      .header-link {
        color: white;
        text-decoration: none;
        transition: color 0.5s, transform 0.5s;
        display: block;
      }

      #hl1-a:hover, #hl3-a:hover {
        transform: scale(1.1) rotate(2deg);
      }

      #hl2-a:hover, #hl4-a:hover {
        transform: scale(1.1) rotate(-2deg);
      }
    }

    #hl1 {
      @include animate(slideheaders, 1s, 0s, forwards);
    }
    #hl2 {
      @include animate(slideheaders, 1s, 0.1s, forwards);
    }
    #hl3 {
      @include animate(slideheaders, 1s, 0.2s, forwards);
    }
    #hl4 {
      @include animate(slideheaders, 1s, 0.3s, forwards);
    }

  }
}


@keyframes slideheaders {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

// Intro component

#intro {
  @include flex(row, flex-start, center);
  width: 100%;
  height: calc(100vh - 75px);
  background-color: #262627;
  color: white;
  z-index: 12;
  position: relative;
  top: 75px;

  #intro-desc {
    @include flex(column, flex-start, flex-start);
    top: 150px;
    left: 200px;
    font-family: "PT Sans";
    position: absolute;
    margin-right: 50px;

    #name {
      font-size: 50px;
      margin: 0;
      opacity: 0;
      @include animate(fadein, 2.5s, 0.5s, forwards);

      svg > g > #idot {
        @include animate(bounce, 1s, 0.1s, forwards);
        animation-iteration-count: infinite;
        fill: white;
      }
    }

    #role {
      font-size: 50px;
      margin: 0 0 10px 0;
      opacity: 0;
      @include animate(fadein, 2.5s, 0.5s, forwards);

      span {
        color: #d8a347;
      }
    }

    #line {
      @include animate(fadein, 1.5s, 1.5s, forwards);
      font-size: 20px;
      margin: 5px 0 0 0;
      opacity: 0;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }
  40% {}
  50% {
    transform: translateY(-2px);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-5px);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }

}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

// Me component

#me-cont {
  @include flex(column, flex-start, center);
  background-color: #262627;
  width: 100%;
  padding: 40px;
  min-height: calc(100vh - 75px);
  top: 75px;
  position: relative;
  box-sizing: border-box;

  #me {
    @include flex(column, flex-start, center);
    @include animate(fadein, 1.5s, 0s, forwards);
    opacity: 0;

    .title {
      @include flex(column, center, center);

      .heading {
        font-size: 35px;
        font-family: "Francois One";
        text-transform: uppercase;
        margin: 0 0 10px 0;
        color: white;
      }
    }

    .desc {
      font-size: 20px;
      margin: 40px 100px 40px 100px;
      line-height: 1.5;
      text-align: center;
      color: #e0e0e0;
      font-family: "Montserrat";
    }

    #icons {
      @include flex(row, center, center);
      flex-wrap: wrap;

      #icon-cont {
        @include flex(column, flex-start, center);
        @include animate(slideup, 2s, 0s, forwards);

        i {
          font-size: 3rem;
          padding: 11px;
          transition: transform 0.75s;
          color: white;

          &:hover {
            transform: scale(1.1);
          }

          &:hover + p{
            opacity: 1;
          }
        }

        p {
          font-size: 12px;
          text-transform: uppercase;
          font-family: "Exo 2";
          margin: 0;
          opacity: 0;
          transition: opacity 0.5s;
          color: white;
        }
      }
    }
  }
}

.divider {
  height: 5px;
  background-color: #d8a347;
  border-radius: 1px;
  opacity: 0;
}

#act-div {
  @include animate(dividerExpand, 1s, 0.5s, forwards);
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes dividerExpand {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 100px;
    opacity: 1;
  }
}


// Projects component

#projects-cont {
  @include flex(column, flex-start, center);
  background-color: #262627;
  width: 100%;
  min-height: calc(100vh - 75px);
  padding: 40px 40px 200px 40px;
  top: 75px;
  position: relative;
  box-sizing: border-box;

  #projects {
    @include flex(column, flex-start, center);
    @include animate(fadein, 1.5s, 0s, forwards);
    opacity: 0;

    .heading {
      font-size: 35px;
      font-family: "Francois One";
      text-transform: uppercase;
      margin: 0 0 10px 0;
      color: white;
    }

    #pic-list {
      @include flex(row, center, flex-start);
      margin: 40px 0 0 0;

      img {
        height: 26vw;
        margin: 10px 10px 0 10px;
        cursor: pointer;
        transition: filter 0.5s;
        position: relative;
        opacity: 0;

        &:hover {
          filter: brightness(50%);
        }
      }

      .tv-in {
        @include animate(tv-in, 1.5s, 0s, forwards);
      }
      .got-in {
        @include animate(got-in, 1.5s, 0s, forwards);
      }

      .tv-out {
        @include animate(tv-out, 1s, 0s, forwards);
      }
      .got-out {
        @include animate(got-out, 1s, 0s, forwards);
      }
    }

    .proj-cont {
      @include flex(column, flex-start, center);
      margin: 40px 0 0 0;
      width: 60%;

      .heading-cont {
        @include flex(row, flex-start, flex-end);

        .heading {
          font-size: 25px;
          font-family: "Montserrat";
          text-transform: uppercase;
          margin: 0;
          color: white;
        }
      }

      .desc {
        font-family: "Montserrat";
        color: white;
        font-size: 19px;
        text-align: center;
      }

      .feather-icon {
        margin: 0 0 0 10px;
        cursor: pointer;
        transition: stroke 0.35s;

        &:hover {
          stroke: #c19749;
        }
      }

      #arrow-icon {
        margin: 0;
      }
    }

    #proj-in {
      @include animate(fadein, 0.5s, 0s, forwards);
    }

    #proj-out {
      @include animate(fadeout, 0.5s, 0s, forwards);
    }
  }
}

@keyframes tv-in {
  from {
    transform: translateX(-25%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes got-in {
  from {
    transform: translateX(25%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes tv-out {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-25%);
    opacity: 0;
  }
}

@keyframes got-out {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(25%);
    opacity: 0;
  }
}

// Contact component

#contact-cont {
  @include flex(column, flex-start, center);
  background-color: #262627;
  width: 100%;
  min-height: calc(100vh - 75px);
  padding: 40px 40px 200px 40px;
  top: 75px;
  position: relative;
  box-sizing: border-box;

  #contact {
    @include flex(column, flex-start, center);
    @include animate(fadein, 1s, 0s, forwards);
    width: 100%;
    opacity: 0;

    .heading {
      font-size: 35px;
      font-family: "Francois One";
      text-transform: uppercase;
      margin: 0 0 10px 0;
      color: white;
    }

    .desc {
      font-size: 19px;
      font-family: "Montserrat";
      margin: 20px 0 0 0;
      color: white;
    }

    #contact-form {
      @include flex(column, flex-start, flex-start);
      border: 1px solid white;
      width: 50%;
      position: relative;
      margin: 50px 0 0 0;

      .input-field {
        width: 100%;
        background-color: #262627;
        color: white;
        border: none;
        padding: 5px;
        font-size: 17px;
        font-family: "Montserrat";
        box-sizing: border-box;
        transition: background-color 0.5s;

        &:focus {
          outline: 0;
          background-color: #313133;
        }

        &::placeholder {
          color: #adadad;
        }

      }

      input:-webkit-autofill,
      textarea:-webkit-autofill,
      select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #2c2c2d inset;
        -webkit-text-fill-color: white !important;
      }

      #name {
        height: 50px;
        border-bottom: 1px solid white;
      }

      #email {
        height: 50px;
        border-bottom: 1px solid white;
      }

      #message {
        height: 150px;
        resize: none;
      }

      #form-button {
        position: absolute;
        top: 100%;
        left: 0;
        margin: 10px 0 0 0;
        padding: 8px 15px 8px 15px;
        font-family: "Montserrat";
        font-size: 15px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: background-color 0.5s;

        &:hover {
          background-color: #37373a;
        }
      }
    }
  }
}

// Media queries

@media (min-width: 300px) {

  // header comp
  #header{

    #header-link-collect {
      font-size: 12px;

      div {
        margin: 0 10px 0 10px;
      }
    }
  }

  // intro comp
  #intro {

    #intro-desc {
      top: 100px;
      left: 50px;

      #name {
        font-size: 27px;

        svg {
          width: 200px;
          height: auto;
        }
      }

      #role {
        font-size: 27px;
      }

      #line {
        font-size: 15px;
      }
    }
  }

  // Me comp
  #me-cont {
    padding: 20px;

    #me {
      .title {

        .heading {
          font-size: 20px;
        }
      }

      .desc {
        font-size: 14px;
        margin: 40px 30px 40px 30px;
      }

      #icons {

        #icon-cont {

          i {
            font-size: 1.5rem;
          }

          p {
            font-size: 8px;
          }
        }
      }
    }
  }

  // Projects comp
  #projects-cont {
    padding: 40px 10px 200px 10px;

    #projects {

      .heading {
        font-size: 20px;
      }

      #pic-list {
        @include flex(column, flex-start, center);

        img {
          height: 80vw;
          margin: 10px 10px 40px 10px;
        }

        .tv-in {
          @include animate(fadein, 1.5s, 0s, forwards);
        }
        .got-in {
          @include animate(fadein, 1.5s, 0s, forwards);
        }

        .tv-out {
          @include animate(fadeout, 1s, 0s, forwards);
        }
        .got-out {
          @include animate(fadeout, 1s, 0s, forwards);
        }
      }

      .proj-cont {
        width: 90%;

        .heading-cont {

          .heading {
            font-size: 18px;
          }
        }

        .desc {
          font-size: 14px;
        }

        .feather-icon {
          width: 22px;
          height: 22px;

        }
      }
    }
  }
}

@media (min-width: 525px) {

  // header comp
  #header{

    #header-link-collect {
      font-size: 15px;

      div {
        margin: 0 20px 0 20px;
      }
    }
  }

  // intro comp
  #intro {

    #intro-desc {
      top: 125px;
      left: 75px;

      #name {
        font-size: 35px;

        svg {
          width: 250px;
          height: auto;
        }
      }

      #role {
        font-size: 35px;
      }

      #line {
        font-size: 17px;
      }
    }
  }

  // Me comp
  #me-cont {
    padding: 30px;

    #me {
      .title {

        .heading {
          font-size: 25px;
        }
      }

      .desc {
        font-size: 16px;
        margin: 40px 50px 40px 50px;
      }

      #icons {

        #icon-cont {

          i {
            font-size: 2rem;
          }

          p {
            font-size: 10px;
          }
        }
      }
    }
  }

  // Projects comp
  #projects-cont {
    padding: 40px 20px 200px 20px;

    #projects {

      .heading {
        font-size: 25px;
      }

      #pic-list {
        @include flex(row, flex-start, center);

        img {
          height: 45vw;
          margin: 10px 10px 0px 10px;
        }

        .tv-in {
          @include animate(tv-in, 1.5s, 0s, forwards);
        }
        .got-in {
          @include animate(got-in, 1.5s, 0s, forwards);
        }

        .tv-out {
          @include animate(tv-out, 1s, 0s, forwards);
        }
        .got-out {
          @include animate(got-out, 1s, 0s, forwards);
        }
      }

      .proj-cont {
        width: 80%;

        .heading-cont {

          .heading {
            font-size: 20px;
          }
        }

        .desc {
          font-size: 16px;
        }

        .feather-icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

@media (min-width: 768px) {

  // header comp
  #header{

    #header-link-collect {
      font-size: 17px;

      div {
        margin: 0 35px 0 35px;
      }
    }
  }

  // intro comp
  #intro {

    #intro-desc {
      top: 125px;
      left: 125px;

      #name {
        font-size: 37px;

        svg {
          width: 300px;
          height: auto;
        }
      }

      #role {
        font-size: 37px;
      }

      #line {
        font-size: 19px;
      }
    }
  }

  // Me comp
  #me-cont {
    padding: 35px;

    #me {
      .title {

        .heading {
          font-size: 30px;
        }
      }

      .desc {
        font-size: 18px;
        margin: 40px 70px 40px 70px;
      }

      #icons {

        #icon-cont {

          i {
            font-size: 2.5rem;
          }

          p {
            font-size: 11px;
          }
        }
      }
    }
  }

  // Projects comp
  #projects-cont {
    padding: 40px 30px 200px 30px;

    #projects {

      .heading {
        font-size: 30px;
      }

      #pic-list {

        img {
          height: 32vw;
        }
      }

      .proj-cont {
        width: 70%;

        .heading-cont {

          .heading {
            font-size: 22px;
          }
        }

        .desc {
          font-size: 18px;
        }

        .feather-icon {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}

@media (min-width: 1000px) {

  // header comp
  #header{

    #header-link-collect {
      font-size: 20px;

      div {
        margin: 0 40px 0 40px;
      }
    }
  }

  // intro comp
  #intro {

    #intro-desc {
      top: 150px;
      left: 200px;

      #name {
        font-size: 40px;

        svg {
          width: 320px;
          height: auto;
        }
      }

      #role {
        font-size: 40px;
      }

      #line {
        font-size: 20px;
      }
    }
  }

  // Me comp
  #me-cont {
    padding: 40px;

    #me {
      .title {

        .heading {
          font-size: 35px;
        }
      }

      .desc {
        font-size: 20px;
        margin: 40px 100px 40px 100px;
      }

      #icons {

        #icon-cont {

          i {
            font-size: 3rem;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  // Projects comp
  #projects-cont {
    padding: 40px 40px 200px 40px;

    #projects {

      .heading {
        font-size: 35px;
      }

      #pic-list {

        img {
          height: 26vw;
        }
      }

      .proj-cont {
        width: 60%;

        .heading-cont {

          .heading {
            font-size: 25px;
          }
        }

        .desc {
          font-size: 19px;
        }

        .feather-icon {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

@media (min-width: 1280px) {

}
