@import url("https://fonts.googleapis.com/css?family=Exo+2|Neucha|PT+Sans:700");
html, body {
  width: 100%;
  height: 100%;
  background-color: white; }

#root {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%; }

#header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #e0dbd2; }
  #header #header-link-collect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #161616;
    font-family: "Exo 2";
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-transform: uppercase; }
    #header #header-link-collect .header-link {
      margin: 0 50px 0 50px;
      cursor: pointer;
      transform: translateY(-50px);
      opacity: 0;
      transition: color 0.2s; }
      #header #header-link-collect .header-link:hover {
        color: #d8a347; }
    #header #header-link-collect #hl1 {
      animation: slideheaders 1s;
      animation-delay: 0s;
      animation-fill-mode: forwards; }
    #header #header-link-collect #hl2 {
      animation: slideheaders 1s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards; }
    #header #header-link-collect #hl3 {
      animation: slideheaders 1s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards; }

@keyframes slideheaders {
  from {
    transform: translateY(-50px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }

#intro {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #e0dbd2;
  color: #161616; }
  #intro #intro-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 200px;
    font-family: "PT Sans"; }
    #intro #intro-desc #role {
      font-size: 40px;
      margin: 0 0 10px 0;
      opacity: 0;
      animation: fadein 1s;
      animation-delay: 0s;
      animation-fill-mode: forwards; }
      #intro #intro-desc #role span {
        color: #d8a347; }
        #intro #intro-desc #role span #span-des {
          color: #161616;
          animation: flicker 1s;
          animation-delay: 1.5s;
          animation-fill-mode: forwards; }
    #intro #intro-desc #name {
      font-size: 30px;
      margin: 0;
      opacity: 0;
      animation: fadein 1s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes flicker {
  0% {
    color: #161616; }
  10% {
    color: #d8a347; }
  20% {
    color: #161616; }
  25% {
    color: #d8a347; }
  40% {
    color: #161616; }
  50% {
    color: #d8a347; }
  55% {
    color: #161616; }
  70% {
    color: #d8a347; }
  80% {
    color: #161616; }
  100% {
    color: #d8a347; } }
